@media only screen and (max-width: 600px) {
  body {
    background-color: #003049;

    .principal {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 35vh;
      width: 100%;

      .TituloIndex {
        font-size: 5rem;
        color: #caff8a;
        font-family: "horror";
        @include efectoTitulos;
      }
    }
    #cardsContainer {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      font-size: 1.2rem;
      justify-content: center;
      color: azure;
      gap: 4rem;
      margin-bottom: 8rem;

      .card {
        @include efectoTitulos;

        .tituloCard {
          text-align: center;
          font-size: 2rem;
          margin: 3rem;
          color: #ccff33;
        }
        .contenidoCard {
          margin-bottom: 4rem;
          text-align: center;
          font-family: "Roboto", sans-serif;
          text-align: center;
          width: 18rem;
          border: 1rem;
          width: 100%;
          height: 10rem;
          color: #ffffff;
          font-size: 1.6rem;
        }
      }
    }
  }

  body.darkMode {
    background-color: #353535;

    .principal {
      display: flex;

      justify-content: center;
      height: 45vh;
      width: 100%;

      h1 {
        display: flex;
        justify-content: center;
        margin: 8rem;
        font-size: 8rem;
        color: #ccff33;
      }
    }

    #cardsContainer {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      font-size: 1.5rem;
      justify-content: center;
      color: transparent;

      margin-bottom: 4rem;

      .card {
        background-color: #606c38;

        .tituloCard {
          text-align: center;
          font-size: 2rem;
          margin: 2rem;
          color: #ccff33;
        }
        .contenidoCard {
          text-align: center;
          width: 18rem;
          border: 1rem;
          width: 100%;
          height: 10rem;
          color: #ffffff;
          font-size: 1.6rem;
          margin-bottom: 2rem;
        }
      }
    }
  }
}
