@media only screen and (max-width: 600px) {
  .form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-content: flex-start;

    h2 {
      width: 90%;
      height: min-content;
      justify-content: center;
      font-size: 4rem;
      font-family: "horror";
      @include efectoTitulos;
      background-color: transparent;
      text-align: center;
      margin: 5rem;
      color: #caff8a;
    }

    #formulario {
      width: 30rem;
      height: 50rem;
      gap: 1rem;
      font-size: 2rem;
      display: flex;
      flex-direction: column;
      padding: 2rem;
      @include efectoTitulos;
      background-color: #9163cb;
    }
  }

  #infoContacto {
    background-color: #a7c957;
    width: 25%;
    height: 10rem;
    text-align: left;
    color: #000000;
  }
}
