@media only screen and (max-width: 1024px) {
  /// body index
  ///
  body {
    background-color: #d8f3dc;

    .principal {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 10rem;
      width: auto;
      height: auto;
      #cargarMas {
        width: 70%;
        height: 20%;
        font-size: 2rem;
        color: #ccff33;
        background-color: #212529;
        margin-bottom: 3rem;
      }
    }
    .TituloIndex {
      font-family: "horror";
      background-color: transparent;
      border: none;
      font-size: 2rem;
      margin-top: 55rem;

      color: #ccff33;
      text-align: center;
      @include efectoTitulos;
    }

    .parrafoIndex {
      background-color: transparent;
      border: none;
      font-size: 4rem;
      margin-top: 4rem;

      color: #ccff33;
      text-align: center;
      @include efectoTitulos;
      margin-top: 8rem;
      margin-bottom: 25rem;
    }

    #cardsContainer {
      width: auto;
      height: max-content;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      font-size: 1.2rem;
      justify-content: center;
      color: azure;
      gap: 4rem;
      margin-top: 18rem;
      margin-bottom: 8rem;

      .card {
        @include efectoTitulos;
        margin: 3rem;

        .tituloCard {
          text-align: center;
          font-size: 2rem;
          margin: 3rem;
          color: #ccff33;
        }
        .contenidoCard {
          margin-bottom: 4rem;
          text-align: center;
          font-family: "Roboto", sans-serif;
          text-align: center;
          width: 16rem;
          border: 1rem;
          width: 100%;
          height: 10rem;
          color: #ffffff;
          font-size: 1.6rem;
        }
      }
    }
  }

  body.darkMode {
    background-color: #212529;

    .principal {
      display: flex;
      justify-content: center;
      height: 45vh;
      width: 100%;

      h1 {
        display: flex;
        justify-content: center;
        color: #ccff33;
        font-size: 5rem;
      }
    }

    #cardsContainer {
      width: auto;
      height: auto;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      font-size: 1.5rem;
      justify-content: center;
      color: transparent;
      margin-bottom: 4rem;

      .card {
        background-color: #47126b;

        .tituloCard {
          text-align: center;
          font-size: 2rem;
          margin: 2rem;
          color: #ccff33;
        }
        .contenidoCard {
          text-align: center;
          width: 18rem;
          border: 1rem;
          width: 100%;
          height: 10rem;
          color: #ffffff;
          font-size: 1.6rem;
          margin-bottom: 2rem;
        }
      }
    }
  }
  /// buscador html
  body {
    height: auto;
    #buscadorBarra {
      width: 100%;
      height: 8rem;
      display: grid;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 5rem;
      align-content: center;

      #buscarForm {
        .buscarBtn {
          background-color: #ccff33;
          color: rgb(0, 0, 0);
          border: black;
          width: 20rem;
          height: 5rem;

          text-align: center;
          font-size: 1.5rem;
        }
        .buttonBuscar {
          width: 15rem;
          height: 5rem;
          background-color: #000000;
          color: #f4ff80;
          font-size: 1.5rem;
        }
      }
    }
    #buscadorTarjetas {
      width: 90%;
      height: min-content;

      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-content: center;
      align-items: center;
      background-color: transparent;
      margin-top: 90rem;
      margin-bottom: 10rem;
      margin-left: 3rem;
      margin-right: 3rem;
      gap: 10rem;

      .cardBuscador {
        background-color: #46325d;
        width: 90%;
        height: max-content;
        @include efectoTitulos;

        .tituloCardBuscador {
          text-align: center;
          font-size: 2rem;
          margin: 2rem;
          color: #f4ff80;
        }
        .contenidoCardBuscador {
          width: 100%;
          border: 1rem;
          margin: 1rem;
          height: 10rem;
          color: #ffffff;
          font-size: 2rem;
          text-align: center;
        }

        .imgCardBuscador {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: center;
          padding: 2rem;
        }

        .addfav {
          width: 30%;
          height: 6%;
          margin-left: 5rem;
          margin-right: 2rem;
          background-color: #a7c957;
          margin-bottom: 3rem;
        }

        .removeFav {
          width: 30%;
          height: 6%;
          margin-left: 5rem;
          margin-right: 2rem;
          background-color: #e63946;
          margin-bottom: 3rem;
        }
      }
    }
  }

  /// favoritos
  ///
  body {
    width: 100%;
    height: 250vh;

    #tituloFav {
      width: 85%;
      height: auto;

      @include efectoTitulos;
      @include gridCentrado;
      background-color: #ccff33;
      border: none;
      font-size: 2rem;
      margin-top: 4rem;
      margin-left: 4rem;
      color: #47126b;
      text-align: center;
    }

    #navFav {
      width: 100%;
      height: 7rem;
      background-color: #47126b;
      margin: 5rem 0 5rem 0;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2rem;

      .orderAsc {
        background-color: #ccff33;
        font-size: 1.6rem;
      }
      .orderDes {
        background-color: #ccff33;
        font-size: 1.6rem;
      }
      .eliminarGlobalFav {
        background-color: #ccff33;
        font-size: 1.6rem;
      }
    }

    #cardsContainerFavoritos {
      width: 100%;
      height: 100rem;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      font-size: 1.2rem;
      justify-content: center;
      gap: 4rem;

      .cardFavoritos {
        background-color: #46325d;
        width: 35rem;
        height: 55rem;
        border: #ccff33;
        margin: 3rem;
        @include efectoTitulos;

        .tituloCardFavoritos {
          text-align: center;
          font-size: 1.6rem;
          margin: 3rem;
          color: #f4ff80;
        }
        .contenidoCardFavoritos {
          margin-bottom: 4rem;
          text-align: center;
          font-family: "Roboto", sans-serif;
          text-align: center;
          width: 18rem;
          border: 1rem;
          width: 100%;
          height: 10rem;
          color: #ffffff;
          font-size: 1.6rem;
        }
        .imgCardFavoritos {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: center;
          padding: 2rem;
        }

        .removeFav {
          width: 40%;
          height: 15%;
          margin-left: 30%;
          margin-bottom: 3rem;
          background-color: #ccff33;
          font-size: 1.5rem;
        }
      }
    }
  }
  /// contacto

  .form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-content: flex-start;

    h2 {
      width: 90%;
      height: min-content;
      justify-content: center;
      font-size: 5rem;
      font-family: "horror";
      @include efectoTitulos;
      background-color: #47126b;
      text-align: center;
      margin: 5rem;
      color: #caff8a;
    }

    #formulario {
      width: 50rem;
      height: 60rem;
      gap: 1.5rem;
      font-size: 2rem;
      display: flex;
      flex-direction: column;
      padding: 2rem;
      @include efectoTitulos;
      background-color: #9163cb;

      .inputForm {
        background-color: #ccff33;
        height: 5rem;
        color: #000000;
        font-size: 2rem;
      }
    }
  }

  #infoContacto {
    background-color: #a7c957;
    width: 25%;
    height: 10rem;

    text-align: left;
    color: #000000;
  }
}
