html {
  font-size: 62.5%; /* asignar unidad de medida 1rem ==16px por 1rem ==10px */

  * {
    padding: 0%; /* reseteamos valores por defecto de html5 */
    margin: 0;
    box-sizing: border-box;
  }
}
